<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><head>
  <title>ログインページ</title>
  <meta charset="utf-8"/>
</head>
<body>
<div class="container">

  <h1>手作りログインビュー</h1>

  <!-- エラーハンドリング、ないとそもそもビューされない 
  ログインに失敗すると、内部ではBadCredentialsExceptionが発生する。
　その例外はHTTPセッションのSPRING_SECURITY_LAST_EXCEPTIONに保存されるので、そこからエラーメッセージを表示できる。　-->
  <div class="alert alert-danger alert-dismissible fade show" role="alert"
       th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'] != null}">
    <span>エラー内容：</span>
    <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">error description</span>
  </div>
  
  <h3>OAuth 2.0テスト</h3>
  <!-- OAuth 2.0 Login用のリンクを表示するエリア -->
      <a href="/oauth2/authorization/github">GitHub Login test</a>

</div>
</body>
</html>