<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></</script>
<script th:inline="javascript">
$(document).ready(function(){
	var num = /*[[${param.id[0]}]]*/;
	$.get("/rest/" + num, null, callback);
});
function callback(result){
	$('#obj').append('<li>id: ' + result.id + '</li>');
	$('#obj').append('<li>title: ' + result.title + '</li>');
	$('#obj').append('<li>description: ' + result.description + '</li>');
	$('#obj').append('<li>price: ' + result.price + '</li>');
	$('#obj').append('<li>image: ' + result.image + '</li>');
}
</script>
<style>
h1 {font-size:18pt; font-weight:bold; color:gray; }
body { font-size:13pt; color:gray; margin:5px 25px; }
tr { margin:5px; }
th { padding:5px; color:white; background:darkgray; }
td { padding:5px; color:black; background:#f0f0f0; }
.err { color:red; }
</style>
</head>